.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  gap: 12px;
  color: white;
  transition: 0.2s ease;
  /* border-top: 1px solid #2929298c; */
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex: 1;
}

.name {
  font-size: 16px;
  font-weight: 400;
}

.sub {
  font-size: 14px;
  color: #9b9b9b;
}

.rank {
  font-size: 14px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* .item:hover {
  background: #1f1f1f9c;
}

.item:active {
  background: #1f1f1f;
} */

.avatarImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.xpBadge {
  background: #1f1f1f;
  color: #7a7a7a;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.count {
  color: #7a7a7a;
  font-size: 10px;
  font-family: "Lab Grotesque", system-ui, sans-serif;
}
