.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 80px;
  width: 100vw;
  padding-top: var(--tg-top);

  padding: 0 8px;
  box-sizing: border-box;

  background-image: url("../../assets/images/gradient_bg.png");
  background-repeat: no-repeat;
  background-size: 180%;
}

.topContent {
  font-size: 36px;
  font-weight: 500;
  height: 140px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.topContent span {
  opacity: 0.6;
}

.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 80px;
  width: 100vw;
  padding-top: var(--tg-top);

  padding: 0 8px;
  box-sizing: border-box;

  background-image: url("../../assets/images/gradient_bg.png");
  background-repeat: no-repeat;
  background-size: 180%;
}
