.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 68px; */
  background: #000000cc;
  backdrop-filter: blur(10px);
  display: flex;
  padding-bottom: var(--tg-bottom);
}

.link {
  flex: 1; /* растягиваем ссылку на всю доступную ширину */
  text-align: center; /* чтобы кнопка внутри была по центру */
  text-decoration: none;
  color: inherit;
}

.bottomTab {
  width: 100%; /* кнопка теперь растягивается на всю ширину ссылки */
  height: 100%;
  background: none;
  border: none;
  color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 4px;
  opacity: 0.5;
  outline: none !important;
  transition: 0.2s ease;
  user-select: none;
}

.bottomTab:active {
  transform: scale(0.95);
}

.active {
  opacity: 1;
}

.centerTab {
  gap: 16px;
  opacity: 1 !important;
  font-size: 12px;
}

.centerTab img {
  margin-top: -36px;
}

.plusButtonWrapper {
  position: fixed;
  margin-top: -60px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--tg-bottom);
  pointer-events: none;
}

.plusButton {
  background: #fc5a00;
  color: black;
  align-items: center;
  display: flex;
  border-radius: 50px;
  padding: 10px 16px;
  font-size: 14px;
  pointer-events: all;
}
.plusButton img {
  width: 24px;
}

.link_small {
  flex: auto;
}
