.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #000;
  display: flex;
  border-top: 1px solid #1e1e1e;
}

.link {
  flex: 1; /* растягиваем ссылку на всю доступную ширину */
  text-align: center; /* чтобы кнопка внутри была по центру */
}

button {
  width: 100%; /* кнопка теперь растягивается на всю ширину ссылки */
  height: 100%;
  background: none;
  border: none;
  color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 4px;
}

.active {
  color: #fff;
}
