/* LeaderboardSearchPage.module.css */
.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 180px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  max-width: 660px;
  padding: 0 16px;
}

.searchHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
  position: sticky;
  top: var(--tg-top, 0);
  background: #000;
  z-index: 10;
  padding-top: calc(var(--tg-top) + 12px);
}

.searchWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: #141414;
  border-radius: 50px;
  padding: 6px 16px;
  gap: 12px;
}

.leftIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 8px;
}

.search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: #fff;
  padding: 8px 0;

  font-family:
    Lab Grotesque,
    system-ui,
    sans-serif;
}

.clearButton img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 16px;
}

/* LeaderboardSearchPage.module.css */
.emptyState {
  text-align: center;
  color: #888;
  font-size: 16px;
  padding: 40px 0;
}
