/* LeaderboardSearchPage.module.css */

.page {
  height: calc(100vh - 24px);
  background: #000;
  color: #fff;

  margin: 0 auto;
  width: 100%;
  max-width: 660px;

  /* padding-top: var(--tg-top); */

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Header + Search (не скроллится) */
.searchHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

/* Поле поиска */
.searchWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: #141414;
  border-radius: 50px;
  padding: 6px 16px;
  gap: 12px;
}

.leftIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: #fff;
  padding: 8px 0;

  font-family:
    Lab Grotesque,
    system-ui,
    sans-serif;
}

.clearButton img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Кнопка закрытия */
.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Скроллируемый список */
.list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0;

  padding-bottom: 180px; /* чтобы не перекрывал BottomNav */
  -webkit-overflow-scrolling: touch;
  padding: 0 16px;
}

/* Пустой результат */
.emptyState {
  text-align: center;
  color: #888;
  font-size: 16px;
  padding: 40px 0;
}
