.card {
  background: #141414;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 195px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.image {
  width: 120px;
  object-fit: contain;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  color: #fff;
  margin: 0;
  opacity: 0.6;
}

.buttonWrapper {
  justify-content: space-between;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  color: #808080;
  border-top: 1px solid #8080801a;
  font-weight: 500;
  padding: 16px 0;
  margin: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.15s ease;
  font-size: 15px;
}
.buttonWrapper:hover {
  color: #fff;
}

.InfoCard_content {
  flex-direction: row;
  display: flex;
  height: 100%;
  line-height: normal;
}

.InfoCard_textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.InfoCard_textWrapper {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
