.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 80px;
  width: 100vw;
}

.header {
  padding: 16px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  padding: 0 16px 16px;
}

.list {
  display: flex;
  flex-direction: column;
}
