.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 80px;
  width: 100vw;

  padding: 0 8px;
  box-sizing: border-box;

  background-image: url("../../assets/images/gradient_bg.png");
  background-repeat: no-repeat;
  background-size: 180%;

  max-width: 600px;
  margin: 0 auto;
  padding-top: var(--tg-top);

  padding-bottom: 180px;
}
/* Анимация шапки */
.top {
  overflow: hidden;
  transition:
    max-height 300ms ease,
    opacity 200ms ease,
    transform 200ms ease;
  max-height: 4400px;
  opacity: 1;
  transform: translateY(0);
}

.collapsed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 48px;
}

.logo {
  font-weight: 600;
  font-size: 16px;
}

.title {
  margin: 8px 0 16px;
  font-size: 24px;
}

/* LIST */
.list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0 8px;
}

/* SEARCH FIELD */
.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 32px);
  border: 1px solid transparent;
  border-radius: 8px;
  transition:
    border-color 200ms,
    box-shadow 200ms;
  /* margin-bottom: 0; */
  background: #141414;
  border-radius: 50px;

  padding: 4px 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin: 16px 0;
  width: 100%;
}

.searchWrapper.focused {
  border-color: #1f1f1f; /* цвет при фокусе */
  background: transparent;
}

/* Левая иконка */
.leftIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 8px;
}

/* Input */
.search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
  color: white;
  font-family:
    Lab Grotesque,
    system-ui,
    sans-serif;
}

/* Кнопка очистки */
.clearButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

.topDescription {
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
  margin-top: 8px;
  max-width: 300px;
  margin: 0 auto;
}

.topImg {
  width: 120px;
  height: auto;
}

.cardHeader {
  color: #7a7a7a;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.topContent {
  font-size: 36px;
  font-weight: 500;
  height: 140px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.topContent span {
  opacity: 0.6;
}

.noBackground {
  background: none !important;
}
