.page {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding-bottom: 80px;
  width: 100vw;
}
/* Анимация шапки */
.top {
  overflow: hidden;
  transition:
    max-height 300ms ease,
    opacity 200ms ease,
    transform 300ms ease;
  max-height: 290px;
  opacity: 1;
  transform: translateY(0);
}

.collapsed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-12px);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 48px;
}

.logo {
  font-weight: 600;
  font-size: 16px;
}

.title {
  margin: 8px 0 16px;
  font-size: 24px;
}

/* LIST */
.list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0 16px;
}

/* SEARCH FIELD */
.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 32px);
  border: 1px solid transparent;
  border-radius: 8px;
  transition:
    border-color 200ms,
    box-shadow 200ms;
  margin: 16px;
  /* margin-bottom: 0; */
  background: #1f1f1f;
  border-radius: 50px;

  padding: 4px 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.searchWrapper.focused {
  border-color: #1f1f1f; /* цвет при фокусе */
  background: transparent;
}

/* Левая иконка */
.leftIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 8px;
}

/* Input */
.search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
  color: white;
  font-family:
    Lab Grotesque,
    system-ui,
    sans-serif;
}

/* Кнопка очистки */
.clearButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  gap: 8px;
}

.topHeader {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  font-family: "Disket Mono", monospace;
}

.topDescription {
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
  margin-top: 8px;
  max-width: 300px;
  margin: 0 auto;
}

.topImg {
  width: 120px;
  height: auto;
}

.cardHeader {
  font-size: 12px;
  font-weight: 600;
  margin: 16px;
  font-family: "Disket Mono", monospace;
  opacity: 0.6;
  margin-bottom: 12px !important;
}
