.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  z-index: 100;
  transition: background 0.3s ease;
  background: transparent; /* прозрачная по дефолту */
  padding-top: var(--tg-top);
}

.header.scrolled {
  background: #00000086;
  backdrop-filter: blur(14px);
}

.placeholder {
  height: var(--tg-top);
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  height: 32px;
  object-fit: contain;
  position: relative;
  z-index: 3;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}
