.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  overflow: hidden;
  z-index: 100;

  z-index: 1;
  background: #14141445;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 255, 255, 1) 33%,
    rgb(255, 255, 255, 0.8) 66%,
    rgba(255, 255, 255, 0) 100%
  );
}
.placeholder {
  height: var(--tg-top);
  backdrop-filter: blur(16px);
  z-index: 1;
  background: #14141445;
  width: 100%;

  z-index: 10000;
  position: fixed;
  top: 0;
}

.logo {
  height: 32px;
  object-fit: contain;
  position: relative;
  z-index: 3; /* поверх blur и overlay */
}

.left {
  justify-content: flex-start;
}
